
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/img/favicon.ico" type="image/ico" />
    <title>پرتال کشف تقلب </title>
    <link href="~/css/main.min.css" rel="stylesheet" />
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center text-center">
                        <h1 class="error-number">403</h1>
                        <h2>امکان دسترسی وجود ندارد</h2>
                        <p>
                            احراز هویت کامل برای دسترسی به این منبع لازم است. 
                        </p>
                        <div class="mid_center">
                            <div class="center-margin">
                                <span class="fa fa-minus-circle " style="font-size:15vw ; color:red;    "></span>
                            </div>
                            <br />
                             <br />
                            <br />
                            <br />

                                <div class="col-xs-12 ">
                                    <div class="input-group">
                                        <a href="/home/index" style="font-size:1.3vw;color:whitesmoke"><span class="fa fa-home"></span> بازگشت به صفحه اصلی</a>
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>


    <script src="~/js/main.min.js"></script>
</body>
</html>

